In [1]:
#01
print("hello world")

hello world

In [2]:
#02
print("mary's cosmetics")

mary's cosmetics

In [4]:
#03
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [6]:
#04
print("C:\Windows")

C:\Windows

In [7]:
#05
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 줄바꿈 \t 탭

안녕하세요.
만나서		반갑습니다.

In [8]:
#06
print("오늘은", "일요일")
#오늘은 일요일

오늘은 일요일

In [13]:
#07
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [14]:
#08
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [20]:
#09
print("first", end=" ");print("second")

first second

In [21]:
#10
print(5/3)

1.6666666666666667

In [28]:
#11
'a'=50000
'총평가금액'=(a*10)
print('총평가금액')

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2127190869.py, line 1)

In [ ]:
12

In [43]:
s="hello"
t="python"
print(s+"!", t)

hello! python

In [44]:
print(2+2*3)
8

8

8

In [45]:
a="132"
print(type(a))

<class 'str'>

In [54]:
16

num_str="720"
num_str = int
print(type(num_str))

<class 'type'>

In [60]:
num = 100
num = "100"
print(num, type(num))

100 <class 'str'>

In [59]:
a="15.79"
a=float(a)
print(a, type(a))

15.79 <class 'float'>

In [64]:
year="2020"
year=int(year)
print(type(year))
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

<class 'int'>
2019
2018
2017

In [65]:
a=48584
b=36
print(a*b)

1749024

In [68]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [71]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [75]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)
movie_rank.append('배트맨')
print(movie_rank)
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [79]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)
movie_rank.append('배트맨')
print(movie_rank)
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [85]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)
movie_rank.append('배트맨')
print(movie_rank)
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)
movie_rank.remove('럭키')
print(movie_rank)
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']

In [88]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [97]:
nums = [1,2,3,4,5,6,7]
print('max:', max(nums))
print('min:', min(nums))

max: 7
min: 1

In [99]:
nums = [1,2,3,4,5]
print(sum(nums))

15

In [102]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [107]:
nums = [1,2,3,4,5]
a=(sum(nums) / len(nums))
print(a)

3.0

In [109]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [111]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [112]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [115]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [125]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [127]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [131]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [132]:
#071
my_variable=()

In [133]:
#072
movie_rank=('닥터 스트레인지','스플릿','럭키')

In [135]:
#073
a=(1)
print(type(a))

<class 'int'>

In [138]:
#074 튜플은 수정 불가능
t=(1,2,3)
t[0]='a'

TypeError: 'tuple' object does not support item assignment

In [139]:
#075 튜플
t=1,2,3,4
print(type(t))

<class 'tuple'>

In [142]:
#076
t=('a','b','c')
del t
t=('A','b','c')
print(t)

('A', 'b', 'c')

In [149]:
#077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(type(interest))

<class 'tuple'>

In [150]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(type(interest))

<class 'list'>

In [151]:
#079
temp=('apple','banana','cake')
a,b,c=temp
print(a,b,c)

apple banana cake

In [157]:
#080
data=tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [161]:
#081
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _=scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [162]:
#082
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score=scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [163]:
#083
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [165]:
#084
temp = {}
print(type(temp))

<class 'dict'>

In [166]:
#085
ice = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [169]:
#086
ice = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [171]:
#087
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격:", ice["메로나"])

메로나 가격: 1000

In [173]:
#088
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}